@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="card bg-transparent d-flex flex-column">
        <div class="d-flex justify-content-around px-3 py-3">
            <div>Keywords</div>
            <div>
                <input type="text" id="search-keyword" placeholder="Input here" />
            </div>
            <div>Order Date</div>
            <div class="d-flex flex-column">
                <input type="date" id="order-date" />
                <button id="searchBtn" class="mt-2 btn btn-primary">Search</button>
            </div>
        </div>
    </div>
    <div class="mt-2">
        <div>
            <a asp-controller="SalesOrder" asp-action="Editor" class="btn btn-danger me-2">Add New Data</a>
            <button class="btn btn-success" onclick="exportJsonToExcel()"><ion-icon class="me-2" name="document-outline"></ion-icon>Export to excel</button>
        </div>
        <table id="so" class="table">
            <thead class="table-dark">
                <tr>
                    <th>No</th>
                    <th>Action</th>
                    <th>Sales Order</th>
                    <th>Order Date</th>
                    <th>Customer</th>
                </tr>
            </thead>
            <tbody class="table-light">
                @*@for(var i = 0; i < Model.Count; i++)
{
                <tr>
                    <td>(i+1)</td>
                    <td>
                        <a href="#" class="text-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-title="Edit">
                            <ion-icon name="create-outline"></ion-icon>
                        </a>
                        <ion-icon data-bs-toggle="tooltip" data-bs-title="Delete" name="trash-outline"></ion-icon>
                    </td>
                    <td>Model[i].OrderNo</td>
                    <td>Model[i].OrderDate.Value.ToString("dd/MM/yyyy")</td>
                    <td>Model[i].Address</td>
                </tr>
}*@
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">Warning!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Sales Order?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="deleteConfirmBtn">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    let table, itemIdToDelete = null;

    document.addEventListener('DOMContentLoaded', function () {
        table = new DataTable('#so', {
            ordering: false,
            searching: false,
            lengthChange: true,
            serverSide: true,
            ajax: function (data, callback, settings) {
                var filter = {
                    currentPage: Math.floor(settings._iDisplayStart / settings._iDisplayLength) + 1,
                    pageSize: 10,
                    keyword: document.querySelector('#search-keyword').value,
                    orderDate: document.querySelector('#order-date').value 
                };

                fetch('/SalesOrder/getSalesOrder?' + new URLSearchParams(filter))
                    .then(response => response.json())
                    .then(responseData => {
                        callback({
                            draw: settings.draw,
                            recordsTotal: responseData.totalCount, 
                            recordsFiltered: responseData.totalCount,
                            data: responseData.items 
                        });
                    })
                    .catch(error => showBootstrapAlert(error, 'danger'));
            },
            columns: [
                {
                    data: null,
                    render: function (data, type, row, meta) {
                        return meta.row + 1;
                    }
                },
                {
                    data: 'id',
                    render: function (data, type, row) {
                        return `
                        <a class="btn" href="/SalesOrder/Editor/${data}" data-bs-toggle="tooltip" data-bs-title="Edit"><ion-icon name="create-outline"></ion-icon></a>
                        <a class="btn" data-item-id="${data}" data-bs-toggle="modal" data-bs-target="#deleteModal"><ion-icon name="trash-outline"></ion-icon></a>
                    `;
                    }
                },
                { data: 'orderNo', name: 'orderNo' },
                {
                    data: 'orderDate',
                    name: 'orderDate',
                    render: function (data, type, row) {
                        if (data) {
                            var date = new Date(data);
                            var day = ('0' + date.getDate()).slice(-2);
                            var month = ('0' + (date.getMonth() + 1)).slice(-2);
                            var year = date.getFullYear();
                            return `${day}/${month}/${year}`;
                        }
                        return ''; 
                    }
                },
                { data: 'customerName', name: 'customerName' }
            ]
        });

        document.querySelector('#searchBtn').addEventListener('click', function () {
            table.ajax.reload();
        });

        table.on('page', function () {
            var pageInfo = table.page.info();
            var data = table.rows({ page: 'current' }).data();
        });
    });

    $(document).on('click', 'a[data-bs-toggle="modal"]', function () {
        itemIdToDelete = $(this).data('item-id');
    });

    $('#deleteConfirmBtn').on('click', function () {
        if (itemIdToDelete) {
            deleteSalesOrder(itemIdToDelete);
            itemIdToDelete = null;
            $('#deleteModal').modal('hide');
        }
    });

    function deleteSalesOrder(id) {
        fetch(`/SalesOrder/DeleteSO/${id}`, {
            method: 'DELETE',
        })
            .then(response => response.json())
            .then(data => {
                showBootstrapAlert(data.message, 'success');
                table.ajax.reload();
            })
            .catch(error => {
                showBootstrapAlert(error, 'danger');
            });
    }

    async function exportJsonToExcel() {
        try {
            const response = await fetch('/SalesOrder/getSalesOrder');

            if (!response.ok) {
                throw new Error('Failed to fetch data');
            }
            const jsonData = await response.json();

            if (!jsonData || !jsonData.items) {
                throw new Error('Invalid data format');
            }

            const datas = jsonData.items.map(item => ({
                "Sales Order": item.orderNo,
                "Order Date": item.orderDate,
                "Customer Name": item.customerName,
            }));

            const ws = XLSX.utils.json_to_sheet(datas);

            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, 'Sheet1');
            XLSX.writeFile(wb, "so.xlsx");
        } catch (err) {
            showBootstrapAlert('There was an error exporting the data. Please try again.', 'danger');
        }
    }

</script>

